@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root{
	--ff-primary: "Roboto", sans-serif;
  	--ff-secondary: "Open Sans", sans-serif;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
	font-family: var(--ff-primary);
	color: hsl(209, 61%, 16%);
	background-color: hsl(210, 36%, 96%);
}

.container{
	display: flex;
  align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;


}
.counter{
	display: flex;
	flex-direction: column;
  background-color: hsl(196, 18%, 69%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
	padding: 10px 15px;
}

h1{
	font-size: 4rem;
	letter-spacing: 0.25rem;
}

#counterText{
	font-size: 6rem;
}

button{
	border-radius: 10px;
	padding: 5px 15px;
	text-transform: uppercase;
	margin: 0 15px;
	box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
	background: transparent;
}


button:hover{
	background-color: hsl(360, 1%, 1%);
	color: white;
	transition:0.5s;
}